<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StockMvc-0.1</display-name>

  <welcome-file-list>
    <welcome-file>/WEB-INF/root/SignUp.jsp</welcome-file>
  </welcome-file-list>


<!-- root maping -->
  <servlet>
    <servlet-name>AboutUs</servlet-name>
    <servlet-class>control.root.AboutUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUs</servlet-name>
    <url-pattern>/AboutUs.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Error</servlet-name>
    <servlet-class>control.root.Error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>control.root.WelcomeRoot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>control.root.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp.do</url-pattern>
  </servlet-mapping>


<!-- analysis mapping -->
  <servlet>
    <servlet-name>ML</servlet-name>
    <servlet-class>control.analysis.ML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ML</servlet-name>
    <url-pattern>/analysis/ML.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TweetAnalysis</servlet-name>
    <servlet-class>control.analysis.TweetAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TweetAnalysis</servlet-name>
    <url-pattern>/analysis/TweetAnalysis.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeAnalysis</servlet-name>
    <servlet-class>control.analysis.WelcomeAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeAnalysis</servlet-name>
    <url-pattern>/analysis/Welcome.do</url-pattern>
  </servlet-mapping>

<!-- Market Mapping -->

  <servlet>
    <servlet-name>WelcomeMarket</servlet-name>
    <servlet-class>control.market.WelcomeMarket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeMarket</servlet-name>
    <url-pattern>/market/Welcome.do</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>NewsFeed</servlet-name>
    <servlet-class>control.market.NewsFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsFeed</servlet-name>
    <url-pattern>/market/NewsFeed.do</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>ViewMarket</servlet-name>
    <servlet-class>control.market.ViewMarket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMarket</servlet-name>
    <url-pattern>/market/ViewMarket.do</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>MarketTwitter</servlet-name>
    <servlet-class>control.market.MarketTwitter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarketTwitter</servlet-name>
    <url-pattern>/market/MarketTwitter.do</url-pattern>
  </servlet-mapping>
<!-- Trading -->

<servlet>
    <servlet-name>List</servlet-name>
    <servlet-class>control.trading.List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List</servlet-name>
    <url-pattern>/trading/List.do</url-pattern>
  </servlet-mapping>
  
  
<servlet>
    <servlet-name>PortfolioAnalysis</servlet-name>
    <servlet-class>control.trading.PortfolioAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortfolioAnalysis</servlet-name>
    <url-pattern>/trading/PortfolioAnalysis.do</url-pattern>
  </servlet-mapping>
  
  
<servlet>
    <servlet-name>Trade</servlet-name>
    <servlet-class>control.trading.Trade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trade</servlet-name>
    <url-pattern>/trading/Trade.do</url-pattern>
  </servlet-mapping>
  
  
<servlet>
    <servlet-name>WelcomeTrading</servlet-name>
    <servlet-class>control.trading.WelcomeTrading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeTrading</servlet-name>
    <url-pattern>/trading/WelcomeTrading.do</url-pattern>
  </servlet-mapping>
</web-app>